<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallerie de photos <!-- Titre header -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallerie de photos</ion-title> <!-- (il y en a deux en raison de la prise en charge du grand titre pliable iOS ) -->
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>

  <!-- Intégration du bouton avec l'icone de l'appareil photo -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
</ion-content>
